<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<div id="data" data-cuntries='<%= raw ["Auckland", "Hamilton", "Rotorua", "Palmerston North", "Wellington", "Christchurch", "Dunedin"].map{|c| "#{c}, New Zealand"}.to_json %>'></div>
<p> Hi </p>
