<div class="row">
  <div class="col-md-4"><a href="mails"><img src="/Icons/blue-mail-open-icon.png" class="img-responsive" alt="Responsive image"><b>View Mail</b></div>
  <div class="col-md-4"><a href="mail_routes"><img src="/Icons/blue-picture-icon.png" class="img-responsive" alt="Responsive image"><b>View Routes</b></div>
  <div class="col-md-4"><a href="business_management"><img src="/Icons/yellow-chart-icon.png" class="img-responsive" alt="Responsive image"><b>Business Management</b></div>
</div>
<div class="row">
  <div class="col-md-4"><a href="mails/new"><img src="/Icons/green-mail-send-icon.png" class="img-responsive" alt="Responsive image"><b>Send Mail</b></div>
  <div class="col-md-4"><a href="mail_routes/new"><img src="/Icons/green-picture-icon.png" class="img-responsive" alt="Responsive image"><b>New Routes</b></div>
  <div class="col-md-4"><a href="users"><img src="/Icons/yellow-user-icon.png" class="img-responsive" alt="Responsive image"><b>User Management</b></div>
</div>