@import "bootstrap";
@import "bootstrap/theme";
@import "session";
@import "dataTables/jquery.dataTables";
@import "jquery.ui.all";
@import "mail_routes";
@import "mails";
@import "business_management";
// @import "formtastic-bootstrap";

.actual_container {
  margin-top: 25px;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.alert-sm {
  padding: 10px;
}
tr.highlighted {
  background-color: #E7F3A4 !important;
}
