// Place all the styles related to the mail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
  height: 400px;
  width: 100%;
  border: 1px solid #000;
  background-color: white;
  margin-bottom: 15px;
}


legend {
  cursor: default;
  border: none;
  top: -95px;
  right: 2px;
  position: relative;
  z-index: 100;
  ul {
    float: right;
    list-style: none;
    padding: 0;
    li {
      float: left;
    }
  }

  .label-sea {
    background-color: #8000FF;
  }
}

.same_width_button {
  float: left;
}
