// Place all the styles related to the mail_routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mailroute_container {
  margin-top: 20px;
}

tr.route {
  cursor: pointer;
}

body#mail_routes_index {
  tfoot th {
    padding: 3px;
  }
  .form-control {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
